@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan";
}
.mobile-menu {
  padding: 0 20px;
  position: absolute;
  width: 100%;
  display: none;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: white;
  box-shadow: rgb(5, 5, 5) 0px 20px 30px -10px;
}
.mobile-menu .links .link {
  font-size: 12px;
  margin: 5px 5px;
  padding: 10px 0;
  text-decoration: none;
  color: black;
}
.mobile-menu .close {
  cursor: pointer;
}
.mobile-menu .links .link:hover {
  margin: 5px 10px 3px;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.navbar {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  top: 40px;
  width: 100%;
  height: 30px;
  left: 30px;
  letter-spacing: 1px;
}
.navbar .menu-icon {
  display: none;
  cursor: pointer;
}
.logo {
  cursor: pointer;
  margin: 5px 40px;
}

.navbar .links .link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 10px;
  padding: 10px 0;
}
.links .link:hover {
  margin: 5px 10px 3px;
  border-bottom: 2px solid white;
}
.image {
  display: flex;
  overflow: hidden;
  width: 60%;
}
.image img {
  transition: 0.3s ease;
  width: 100%;
}
.image-discription {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.discription {
  overflow-y: auto;
  position: relative;
  display: flex;
  padding: 0 80px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
.discription h1 {
  font-size: 40px;
}
p {
  margin: 30px 0;
  color: hsl(0, 0%, 63%);
}
.discription h2 a {
  font-weight: 500;
  text-decoration: none;
  color: black;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 20px;
}
.discription h2:hover a {
  transition: 0.2s ease;
  color: hsl(0, 0%, 63%);
}
.discription h2:hover img {
  cursor: pointer;
  transition: 0.3s ease;
  filter: invert(63%);
}
.discription .directions {
  display: flex;
  position: absolute;
  width: 148px;
  left: 0;
  bottom: 0;
}
.discription .btns {
  cursor: pointer;
  transition: 0.3s ease;
  padding: 30px;
  background-color: black;
}
.discription .btns:hover {
  background-color: hsl(0, 0%, 27%);
}
.about {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.about .text {
  width: 36%;
  padding: 0 50px;
}
.about h3 {
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.about img {
  width: 30%;
}

/* responsive */
@media screen and (max-width: 1300px) {
  .discription .directions {
    display: flex;
    position: absolute;
    width: 148px;
    bottom: auto;
    left: 0;
    bottom: 0;
  }
  .discription h1 {
    font-size: 35px;
  }
  .discription .btns {
    cursor: pointer;
    transition: 0.3s ease;
    padding: 20px;
    background-color: black;
  }
}
@media screen and (max-width: 1200px) {
  .discription {
    padding: 30px 60px;
    justify-content: start;
  }
  .discription .btns {
    cursor: pointer;
    transition: 0.3s ease;
    padding: 20px;
    background-color: black;
  }
  .about .text {
    width: 36%;
    padding: 0 10px;
  }
  .about h3 {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 1030px) {
  .discription {
    padding: 30px 5px 20px 75px;
    justify-content: start;
  }
  .discription h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 940px) {
  p {
    margin-top: 10px;
  }
  .discription .btns {
    padding: 20px;
  }
}
@media screen and (max-width: 870px) {
  .navbar {
    width: 90%;
    height: auto;
    top: 20px;
    left: 20px;
    margin: 0;
  }
  .image-discription {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .image {
    width: 100%;
  }
  .discription {
    width: 100%;
    height: auto;
    padding: 100px 40px 30px;
  }
  .discription h1 {
    margin-bottom: 20px;
  }
  .discription .directions {
    display: flex;
    position: absolute;
    width: 20px;
    bottom: auto;
    top: 0;
  }

  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about img {
    width: 80%;
  }
  .about p {
    margin-top: 20px;
  }
  .about .text {
    width: 80%;
    font-size: 20px;
  }
}
@media screen and (max-width: 540px) {
  .navbar .logo {
    margin: 0 auto;
    display: block;
  }
  .navbar .menu-icon {
    display: block;
  }
  .navbar .links {
    display: none;
  }
  .image-discription {
    align-items: end;
    justify-content: center;
    flex-direction: column;
  }
  .image-discription .image {
    width: 100%;
  }
  .discription {
    width: 100%;
    height: auto;
    padding: 30px;
  }

  .discription h1 {
    margin: 60px 0 30px 0;
  }
  .discription h2 a {
    margin: 0;
  }
  .about img {
    width: 100%;
  }
  .about .text {
    width: 100%;
    padding: 20px;
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  .navbar {
    left: 5px;
  }
  .discription h1 {
    margin: 60px 0 0 0;
  }
  .about p {
    font-weight: lighter;
    font-size: 8px;
    letter-spacing: 0.5px;
  }
  .about h3 {
    font-size: 10px;
    letter-spacing: 0.8px;
  }
}
